@charset "UTF-8";
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}
.top{ background-color: darkgray;




}
.content h1{
						color: red;
						padding : 15px 10px;
					  text-align: center;

}
.content span{
							color: :red;


}
.game img{
			height: 100px;
			width: 100px;
			text-align: center;

}
.situmon{
					background-color: #33ff99;
					padding:30px 30px;
					text-align: center;
					margin-bottom:15px;
}
.waku {

			border: 2px solid #0033cc;
}
.waku h3{
					font-size: 28px;
}
.waku p{ font-size: 20px;
				margin-top: 10px;
				margin-bottom: 5px;

}
textarea{
						font-size: 10px;
						padding:50px 40px;
}
